{% load bootstrap4 %}
{% load widget_tweaks %}
<!DOCTYPE html>
  <head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
      .titulo{
        background-color: #19568a;
        border-radius: 30px;
        padding: 10px;
        font-family: arial;
      }
      h1{
        color:whitesmoke;
        font-size: xxx-large;
      }
    </style>
  </head>
  <body>
    <!-- encabezado -->
    <div class="titulo" align="center">
      <h1>Productos</h1>
    </div>
    
    <!-- contenido -->
    {% block content %}
    <div align="center">
      <div style="width: 70%;">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  #
                </th>
                <th scope="col">
                  Nombre
                </th>
                <th scope="col">
                  Descripcion
                </th>
                <th scope="col">
                  Precio ($)
                </th>
                <th scope="col">
                  Fecha de Registro
                </th>
                <th scope="col">
                  Estatus
                </th>
              </tr>
            </thead>

            <tbody>
                {% for producto in productos %}
                <tr>
                <td scope="row">
                    {{ producto.pk }}
                </td>
                <td>
                    {{ producto.nombre }}
                </td>
                <td>
                    {{ producto.descripcion }}
                </td>
                <td>
                    {{ producto.precio }}
                </td>
                <td>
                    {{ producto.fecha_registro }}
                </td>
                <td>
                  {% if producto.estatus %}
                      <p>Disponible</p>
                  {% else %}
                      <p>No disponible</p>
                  {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

      </div>
    </div>
    {% endblock %}
  </body>
</html>